.container.debate-container
  .row
    .col.s12
      %h4 edit debate
  .row
    .col.s12
      = form_for @debate do |f|
        = f.label :resolution
        = f.text_field :resolution

        .row
          .col.s2
            .speech-container
              .row
                %h5 1AC
              .row
                reuvenschmidt@gmail.com
              .row
                %b Value
              .row
                Social Justice
              .row
                %b Criterion:
              .row
                Categorical Imperative (Kant)
              .row
                %b Thesis
              .row
                To defend against a tyrannical and/or exploitative majority, citizens are compelled to acts of civil disobedience (non-violent rule breaking) to protest their condition.
              .row
                %ol
                  %li US Civil Rights movement
                  %ol
                    %li Democracy (USA) exploited & oppressed a black minority
                    %li Slavery and later Jim Crow codified and legalized majority oppression of minority
                    %li Civil disobedience brought attention, reform, expansion of vote and democracy
        .row
          = f.submit class:"btn-flat"
          = link_to "Cancel", @debate, class: "btn-flat"
