.container.debate-container
  - if @debate.errors.any?
    %h5 #{@debate.errors.count} errors detected during your save attempt
    - @debate.errors.full_messages.each do |msg|
      %ul
        %li=msg
  .row
    .col.s12
      %h4 create new debate
  .row
    .col.s12
      = form_for @debate do |f|
        = f.label :resolution
        = f.text_field :resolution
        = f.hidden_field :creator_id, value: current_user.id
        = f.submit class:"btn-flat"
        = link_to "Cancel", debates_path, class:'btn-flat'
