.row
  .col.s12.l4.offset-l8
    .align-right
      debate created: #{localize(@debate.created_at, format: :long)}
      %br
      last updated: #{localize(@debate.updated_at, format: :long)}
.row
  .col.s12.l12.m12
    %h4 Lincoln-Douglas Debate
    %h5 Resolved: #{@debate.resolution}
.row
  .col.s12.l2
    .speech-container
      .row.card-panel
        %dl
          %h5 Affirmative
          - if @debate.positions.aff.count != 0
            - @debate.positions.aff.each do |p|
              %dt Value:
              %dd #{p.value}
              %dt Criterion:
              %dd #{p.criterion}
              %dt Debater:
              %dd #{p.user.email}
              =link_to 'edit', edit_debate_position_path(@debate, p), class: 'btn-flat'
              =link_to 'delete', debate_position_path(@debate, p), method: :delete, class: 'btn-flat', data: {confirm: "Are you sure? Delete is forever"}
          - else
            Awaiting a debater
            = link_to 'Join', new_debate_position_path(@debate, affirmative: true, user: current_user), class: 'btn green'
  .col.s12.l2
    .speech-container
      .row.card-panel
        %dl
          %h5 Negative
          - if @debate.positions.neg.count != 0
            - @debate.positions.neg.each do |p|
              %dt Value:
              %dd #{p.value}
              %dt Criterion:
              %dd #{p.criterion}
              %dt Debater:
              %dd #{p.user.email}
              =link_to 'edit', edit_debate_position_path(@debate, p), class: 'btn-flat'
              =link_to 'delete', debate_position_path(@debate, p), method: :delete, class: 'btn-flat', data: {confirm: "Are you sure? Delete is forever"}
          - else
            Awaiting a debater
            = link_to 'Join', new_debate_position_path(@debate, affirmative: false, user: current_user), class: 'btn red'
.row
  .col.s12.l2
    .speech-container
      .row
        .card-panel
          - if @debate.speeches.name == 'OneAC'
            %h5 #{@debate.positions.speeches.enum}
            .fixed-action-btn{ style: "position: relative; left: 20%; bottom: 1%;" }
              =link_to '', class: "btn-floating orange darken-3" do
                %i.material-icons mode_edit
              %ul
                %li
                  =link_to edit_debate_speech_path(@debate, @debate.speech.first), class: "btn-floating red" do
                    %i.material-icons chat
                %li
                  =link_to @debate, class: "btn-floating yellow" do
                    %i.material-icons grade
                %li
                  =link_to @debate, class: "btn-floating green" do
                    %i.material-icons thumb_up
                %li
                  =link_to @debate, class: "btn-floating brown" do
                    %i.material-icons thumb_down
          - else
            Create a speech
            .fixed-action-btn{ style: "position: relative; left: 20%; bottom: 1%;" }
              =link_to '', class: "btn-floating orange darken-3" do
                %i.material-icons add
              %ul
                %li
                  =link_to new_debate_speech_path(@debate, position_id: @debate.positions.aff.first, speech_name: 'OneAC'), class: "btn-floating red" do
                    %i.material-icons chat
      .row
        .card-panel
          %b Thesis
          .row
          To defend against a tyrannical and/or exploitative majority, citizens are compelled to acts of civil disobedience (non-violent rule breaking) to protest their condition.
          .fixed-action-btn{ style: "position: relative; left: 20%; bottom: 1%;" }
            =link_to @debate, class: "btn-floating orange darken-3" do
              %i.material-icons mode_edit
            %ul
              %li
                =link_to @debate, class: "btn-floating red" do
                  %i.material-icons chat_bubble
              %li
                =link_to @debate, class: "btn-floating yellow" do
                  %i.material-icons grade
              %li
                =link_to @debate, class: "btn-floating green" do
                  %i.material-icons thumb_up
              %li
                =link_to @debate, class: "btn-floating brown" do
                  %i.material-icons thumb_down
      .row
        .card-panel
          %ol
            %li US Civil Rights movement
            %ol
              %li Democracy (USA) exploited & oppressed a black minority
              %li Slavery and later Jim Crow codified and legalized majority oppression of minority
              %li Civil disobedience brought attention, reform, expansion of vote and democracy
          .fixed-action-btn{ style: "position: relative; left: 20%; bottom: 1%;" }
            =link_to @debate, class: "btn-floating orange darken-3" do
              %i.material-icons mode_edit
            %ul
              %li
                =link_to @debate, class: "btn-floating red" do
                  %i.material-icons chat_bubble
              %li
                =link_to @debate, class: "btn-floating yellow" do
                  %i.material-icons grade
              %li
                =link_to @debate, class: "btn-floating green" do
                  %i.material-icons thumb_up
              %li
                =link_to @debate, class: "btn-floating brown" do
                  %i.material-icons thumb_down
  .col.s12.l2
    .speech-container
      .row
        .card-panel
          - if @debate.speeches.name == 'OneNC'
            %h5 #{@debate.positions.speeches.enum}
            .fixed-action-btn{ style: "position: relative; left: 20%; bottom: 1%;" }
              =link_to '', class: "btn-floating orange darken-3" do
                %i.material-icons mode_edit
              %ul
                %li
                  =link_to edit_debate_speech_path(@debate, @debate.speech.first), class: "btn-floating red" do
                    %i.material-icons chat
                %li
                  =link_to @debate, class: "btn-floating yellow" do
                    %i.material-icons grade
                %li
                  =link_to @debate, class: "btn-floating green" do
                    %i.material-icons thumb_up
                %li
                  =link_to @debate, class: "btn-floating brown" do
                    %i.material-icons thumb_down
          - else
            Create a speech
            .fixed-action-btn{ style: "position: relative; left: 20%; bottom: 1%;" }
              =link_to '', class: "btn-floating orange darken-3" do
                %i.material-icons add
              %ul
                %li
                  =link_to new_debate_speech_path(@debate, position_id: @debate.positions.aff.first, speech_name: 'OneNC'), class: "btn-floating red" do
                    %i.material-icons chat
      .row
        .card-panel
          %b Thesis
          .row
            Legitimate laws are founded on the will of citizens. Violating these laws are primae facie undemocratic and immoral, and undermine democratic institutions.
          .fixed-action-btn{ style: "position: relative; left: 20%; bottom: 1%;" }
            =link_to @debate, class: "btn-floating orange darken-3" do
              %i.material-icons mode_edit
            %ul
              %li
                =link_to @debate, class: "btn-floating red" do
                  %i.material-icons chat_bubble
              %li
                =link_to @debate, class: "btn-floating yellow" do
                  %i.material-icons grade
              %li
                =link_to @debate, class: "btn-floating green" do
                  %i.material-icons thumb_up
              %li
                =link_to @debate, class: "btn-floating brown" do
                  %i.material-icons thumb_down
      .row
        .card-panel
          %ol
            %li Slippery Slope to Violence
            %ol
              %li Unionizing labor protests turn to anarchist bombings and assassinations
              %li Civil Rights movements turn to riots in the 1960s, white flight and ghettoization
              %li KKK post-war citizens group turns into a terrorist organization
          .fixed-action-btn{ style: "position: relative; left: 20%; bottom: 1%;" }
            =link_to @debate, class: "btn-floating orange darken-3" do
              %i.material-icons mode_edit
            %ul
              %li
                =link_to @debate, class: "btn-floating red" do
                  %i.material-icons chat_bubble
              %li
                =link_to @debate, class: "btn-floating yellow" do
                  %i.material-icons grade
              %li
                =link_to @debate, class: "btn-floating green" do
                  %i.material-icons thumb_up
              %li
                =link_to @debate, class: "btn-floating brown" do
                  %i.material-icons thumb_down
      .row
        .card-panel
          %h5 Rebuttals
      .row
        .card-panel
          %ol
            %li US Civil Rights Movement
            %ol
              %li Democracy, not disobedience, helped Civil Rights
              %li Speeches of leaders like Dr. King changed majority opinion
              %li Johnson's Great Society program
              %li Supreme Court led desegregation
              %li It was democratic institutions that saved democracy, not law breaking
          .fixed-action-btn{ style: "position: relative; left: 20%; bottom: 1%;" }
            =link_to @debate, class: "btn-floating orange darken-3" do
              %i.material-icons mode_edit
            %ul
              %li
                =link_to @debate, class: "btn-floating red" do
                  %i.material-icons chat_bubble
              %li
                =link_to @debate, class: "btn-floating yellow" do
                  %i.material-icons grade
              %li
                =link_to @debate, class: "btn-floating green" do
                  %i.material-icons thumb_up
              %li
                =link_to @debate, class: "btn-floating brown" do
                  %i.material-icons thumb_down
.row
  = link_to 'Back', debates_path, class: "waves-effect btn-flat"
  = link_to 'Edit', edit_debate_path(@debate), class: "waves-effect btn-flat"
  = link_to 'Delete', debate_path(@debate), method: :delete, class: "waves-effect btn-flat", data: {confirm: "Are you sure you want to delete this debate?"}
