.row
  .col.s12.m8.l8
    .row
      = link_to 'Back', debates_path, class: "waves-effect btn-flat"
      = link_to 'Edit', edit_debate_path(@debate), class: "waves-effect btn-flat"
      = link_to 'Delete', debate_path(@debate), method: :delete, class: "waves-effect btn-flat", data: {confirm: "Are you sure you want to delete this debate?"}
  .col.s12.m4.l4
    .row
      .align-right
        debate created: #{localize(@debate.created_at, format: :long)}
        %br
        last updated: #{localize(@debate.updated_at, format: :long)}
.row
  .col.s12.l12.m12
    %h4 Lincoln-Douglas Debate
    %h5 Resolved: #{@debate.resolution}
.row
  .col.s12.m12.l3
    .speech-container
      .row.card-panel
        %dl
          %h5 Affirmative
          - if @debate.positions.aff.count != 0
            - @debate.positions.aff.each do |p|
              %dt Value:
              %dd #{p.value}
              %dt Criterion:
              %dd #{p.criterion}
              %dt Debater:
              %dd #{p.user.email}
              =link_to 'edit', edit_debate_position_path(@debate, p), class: 'btn-flat'
              =link_to 'delete', debate_position_path(@debate, p), method: :delete, class: 'btn-flat', data: {confirm: "Are you sure? Delete is forever"}
          - else
            Awaiting a debater
            = link_to 'Join', new_debate_position_path(@debate, affirmative: true, user: current_user), class: 'btn green'
  .col.s12.m12.l3
    .speech-container
      .row.card-panel
        %dl
          %h5 Negative
          - if @debate.positions.neg.count != 0
            - @debate.positions.neg.each do |p|
              %dt Value:
              %dd #{p.value}
              %dt Criterion:
              %dd #{p.criterion}
              %dt Debater:
              %dd #{p.user.email}
              =link_to 'edit', edit_debate_position_path(@debate, p), class: 'btn-flat'
              =link_to 'delete', debate_position_path(@debate, p), method: :delete, class: 'btn-flat', data: {confirm: "Are you sure? Delete is forever"}
          - else
            Awaiting a debater
            = link_to 'Join', new_debate_position_path(@debate, affirmative: false, user: current_user), class: 'btn red'
- if defined? @debate.positions
  .row
    -if @debate.positions.aff.count == 0
      .col.s12.m12.l3
        .speech-container
          .row
            .card-panel
              Take the affirmative position to enter your argument
    -elsif @debate.positions.aff.count > 0
      .col.s12.m12.l3
        .speech-container
          .row
            .card-panel
              - if !(defined? @debate.positions.aff.first.speeches) || (@debate.positions.aff.first.speeches.count == 0)
                Create a speech
                .fixed-action-btn.horizontal
                  =link_to '', class: "btn-floating orange darken-3" do
                    %i.material-icons add
                  %ul
                    %li
                      =link_to new_speech_path(speech_name: 'OneAC', position: @debate.positions.aff.first), class: "btn-floating red" do
                        %i.material-icons chat
              - else
                - if @debate.positions.aff.first.speeches.first.speech_name == 'OneAC'
                  %h5 Speech: #{@debate.positions.aff.first.speeches.first.speech_name}
                  %p Click the orange 'edit' button below to add some contentions and examples to prove your point
                  .fixed-action-btn.horizontal
                    =link_to '', class: "btn-floating orange darken-3" do
                      %i.material-icons mode_edit
                    %ul.floating-options
                      %li
                        =link_to edit_speech_path(@debate.positions.aff.first.speeches.first), class: "btn-floating red" do
                          %i.material-icons chat
                      %li
                        =link_to @debate, class: "btn-floating yellow" do
                          %i.material-icons grade
                      %li
                        =link_to @debate, class: "btn-floating green" do
                          %i.material-icons thumb_up
                      %li
                        =link_to @debate, class: "btn-floating brown" do
                          %i.material-icons thumb_down
    -if @debate.positions.neg.count == 0
      .col.s12.m12.l3
        .speech-container
          .row
            .card-panel
              Take the negative position to enter your argument
    -elsif @debate.positions.neg.count > 0
      .col.s12.m12.l3
        .speech-container
          .row
            .card-panel
              - if !(defined? @debate.positions.neg.first.speeches) || (@debate.positions.neg.first.speeches.count == 0)
                Create a speech
                .fixed-action-btn.horizontal
                  =link_to '', class: "btn-floating orange darken-3" do
                    %i.material-icons add
                  %ul
                    %li
                      =link_to new_speech_path(speech_name: 'OneNC', position: @debate.positions.neg.first), class: "btn-floating red" do
                        %i.material-icons chat
              - else
                - if @debate.positions.neg.first.speeches.first.speech_name == 'OneNC'
                  %h5 Speech: #{@debate.positions.neg.first.speeches.first.speech_name}
                  %p Click the orange 'edit' button below to add some contentions and examples to prove your point
                  .fixed-action-btn.horizontal
                    =link_to '', class: "btn-floating orange darken-3" do
                      %i.material-icons mode_edit
                    %ul
                      %li
                        =link_to edit_speech_path(@debate.positions.neg.first.speeches.first), class: "btn-floating red" do
                          %i.material-icons chat
                      %li
                        =link_to @debate, class: "btn-floating yellow" do
                          %i.material-icons grade
                      %li
                        =link_to @debate, class: "btn-floating green" do
                          %i.material-icons thumb_up
                      %li
                        =link_to @debate, class: "btn-floating brown" do
                          %i.material-icons thumb_down
  .row
    - if (defined? @debate.positions.aff.first.speeches)
      .col.s12.m12.l3
        - if defined? @debate.positions.aff.first.speeches.first.contentions
          %ol
            - @debate.positions.aff.first.speeches.first.contentions.each do |c|
              .card-panel
                %li
                  %b #{c.topic}
                  %p #{c.summary}
                  - if defined? c.arguments && c.arguments.count > 0
                    %ol
                      - c.arguments.each do |a|
                        %li
                          = a.claim
                          = a.warrant
                          = a.impact
                          = a.citation
    - elsif defined? @debate.positions.neg.first.speeches #note that this is neg on purpose to keep the formatting pretty
      .col.s12.m12.l3
        .card-panel
          Enter a contention
    - if (defined? @debate.positions.neg.first.speeches)
      .col.s12.m12.l3
        - if defined? @debate.positions.neg.first.speeches.first.contentions
          %ol
            - @debate.positions.neg.first.speeches.first.contentions.each do |c|
              .card-panel
                %li
                  %b #{c.topic}
                  %p #{c.summary}
                  - if defined? c.arguments && c.arguments.count > 0
                    %ol
                      - c.arguments.each do |a|
                        %li
                          = a.claim
                          = a.warrant
                          = a.impact
                          = a.citation
    - elsif defined? @debate.positions.aff.first.speeches #note that this is aff on purpose to keep formatting pretty
      .col.s12.m12.l3
        .card-panel
          Enter a contention
