.contention
  .container
    .row.s12.l12
      %h4 Edit speech: #{@speech.speech_name}
      = form_for @speech do |f|
        =f.label :speech_name
        .select-div
          =f.select :speech_name, collection: @dropdown_options, selected: @speech.speech_name
        =f.hidden_field :position_id, readonly: true
        .row
          =f.submit class: 'btn-flat'
          =link_to 'Back', debate_path(@speech.position.debate), class: 'btn-flat'
          =link_to 'Delete', @speech, method: :delete, data: {confirm:"Are you sure? Delete is forever"}, class: "btn-flat yellow"
    .row.s12.l12
      %h5 Add Contention
      =link_to 'new contention', new_speech_contention_path(@speech), class:'btn-flat'
    .row.s12.l12
      %h5 Edit Contention
      %ol.fancy-ol
        - @speech.contentions.select{|c| c.assertion_id == nil}.each do |c|
          %li
            .row
              = c.topic
            .row
              = c.summary
            .row
              = link_to 'Edit', edit_speech_contention_path(@speech, c), class: 'btn-flat'
              = link_to 'Delete', speech_contention_path(@speech, c), method: :delete, class: 'btn-flat yellow', data: {confirm: "Are you sure? Delete is forever."}
              = link_to 'Add Argument', new_argument_path(contention: c), class: 'btn-flat'
            .row
              - if defined? c.argument && c.arguments.count > 0
                %ol.argument
                  - c.arguments.each do |a|
                    %li
                      .row
                        = a.claim
                        = a.warrant
                        = a.impact
                        = a.citation
                        .row
                          = link_to 'Edit', edit_argument_path(a, contention: c), class: 'btn-flat'
                          = link_to 'Delete', argument_path(a), method: :delete, class: 'btn-flat', data: {confirm: 'OK to delete argument forever'}
    -if @speech.speech_name == 'OneNC'
      .row.s12.l12
        %h5 Rebuttals
        %ol.fancy-ol
          - d = @speech.position.debate
          - d.positions.aff.first.speeches.first.contentions.each do |c|
            .card-panel
              %li
                %p #{c.topic}
                =link_to 'Add Refutation', new_contention_refutation_path(speech_id: @speech.id, contention_id: c.id, assertion_id: c.id), class: 'btn-flat tiny'
                - if defined? c.refutations && c.refutations.count > 0
                  - c.refutations.each do |r|
                    %p
                      %i Counter Argument
                    %b=r.topic
                    %p=r.summary
                    .row
                      = link_to 'Edit Refutation', edit_contention_refutation_path(id: r.id, contention_id: c.id), class: 'btn-flat tiny'
                      = link_to 'Delete Refutation', contention_refutation_path(contention_id: r.id), method: :delete, class: 'btn-flat tiny'
                    - if defined? r.arguments && r.arguments.count > 0
                      %ol
                        - r.arguments.each do |ra|
                          %li
                            %p=ra.claim
                            %p=ra.warrant
                            %p=ra.impact
                            %p=ra.citation
